.smallFont {
  font-size: 13px;
}
.boxFooter {
  margin-top: 10px;
  border-top: 2px solid grey;
  font-size: 13px;
  color: lightblue;
  
}
.box {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  border-radius: 5px ;
  color: white;
   backdrop-filter: blur(8px);
   align-items:center ;
}
