.buttonClass {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    max-width: 1118px;
}
.content{
    display: flex;
    flex-direction: column;
   align-items: center;
}